
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href="/favicon.ico" type="image/x-icon" href="favicon.ico" />


    <title><%= content_for?(:title) ? yield(:title) : 'Recuperator' %></title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>

    <%= render "devise/shared/header" %>
    <div class="row bodyspace">

      <div class="small-9 small-centered large-uncentered columns">
        <%= yield %>
      </div>

      <% if alert || notice %>
      <div id="flash" class="flash">
        <h4><%= notice %><%= alert %></h4>
      </div>
      <% end %>

    </div>

    <%= render "devise/shared/footer" %>

  </body>

</html>
