
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />


    <title><%= content_for?(:title) ? yield(:title) : 'Recouperator' %></title>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>

    <%= render "devise/shared/header" %>

    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>

    <%= yield %>

    <%= render "devise/shared/footer" %>

  </body>

</html>
